@define-color selected-text #FFFFFF;
@define-color text #999999;
@define-color base #000000;
@define-color border #FFFFFF;
@define-color foreground #FFFFFF;
@define-color background #000000;


window .normal-icons,
window .large-icons,
window .item-image,
window .symbols {
    -gtk-icon-size: 0;
    min-width: 0;
    min-height: 0;
    padding: 1;
    margin: 1;
}
